@page

<div class="container row">
	<div class="col-12 text-center">
		<h1 class="text-center text-black-50">Developed and donated by Weber State University students:</h1>
	</div>
	<div class="col-12 text-center">
		<br />
		<p>Alaa Sultani</p>
		<p>Brooks Anderson</p>
		<p>Devyn Woodruff - woodruffde94@gmail.com - <a href="https://www.linkedin.com/in/devyn-woodruff-86a757ab">LinkedIn</a></p>
		<p>Madison Jones</p>
		<p>Stephanie Spencer - Stephanie.Spencer.22@hotmail.com - <a href="https://www.linkedin.com/in/stephaniespencer22/">LinkedIn</a></p> 
		<br />
	</div>
</div> 