@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/Images/npau1.png" />

</div>

<div class="center-screen">
    <a asp-page="/User/DonationCause/Index" class="btn btn-warning btn-lg mt-4 border border-dark center-screen" style="height:50px;">Donate Now</a>
</div>
