@page
@model NoPoorAfrica.Pages.User.Cart.OrderConfirmationModel
@{
    ViewData["Title"] = "OrderConfirmation";
}

<div class="container row center-screen">
    <h5 class="bg-warning rounded center-screen m-3 p-3">Order Number : &nbsp;  @Model.orderId </h5>
    <div class="col-12 text-center">
        <h1 class="text-dark text-center m-2 p-2 mb-3">Your order has been completed!</h1>
        <h5 class="font-italic">Please keep this page for your records</h5>
        <h5>&nbsp;</h5>
        <h5>Contact us at npau@gmail.com for any questions on your order.</h5>
    </div>
</div> 

