@page
@model NoPoorAfrica.Pages.User.DonationCause.DonationConfirmationModel
@{
}
<div class="container row">
	<div class="col-12 text-center">
		<h1 class="text-black-50 text-center">Donation Placed Successfully!</h1>
	</div>
	<div class="col-12 text-center" style="color:maroon">
		<br />
		Thank you for your generousity!<br />
	</div>
</div> 