@page

<div class="container border backgroundWhite">
	<div class="row">
		<div class="col-6">
			<h2 class="text-dark">Donation History</h2>
		</div>
	</div>
	<br />
	<table id="DT_load" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>
					Donation Cause
				</th>
				<th>
					Donation Total
				</th>
				<th>
					Donation Date
				</th>
				<th>
					Comments
				</th>
			</tr>
		</thead>
	</table>
</div>
@section Scripts{
	<script src="~/js/donationhistory.js"></script>
}