@page
@model NoPoorAfrica.Pages.Admin.Size.IndexModel


@*Adming table showing all the size options for the store*@

<div class="container border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark">Sizes</h2>
        </div>
        <div class="col-12 text-right">
            <a asp-page="Upsert" class="btn btn-warning"><i class="fas fa-plus"></i>&nbsp;Create New</a>
        </div>
    </div>
    <br />
    <table id="DT_load" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Sizes
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/js/size.js"></script>
}
