@page
@model LoginModel


<h1>@ViewData["Title"]</h1>
<div class="row center-screen">
    <div class="center-screen">
        <section>
            <form id="account" method="post">
                <h2 class="text-center searchTab m-5 p-4">Log In Hub</h2>
                <h4>Use an existing account or create a new one!</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group text-dark">
                    <label asp-for="Input.Email" class="text-dark"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row justify-content-between">
                        <button type="submit" class="btn btn-dark ml-3">Log in</button>

                        <h5 class="pt-3">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </h5>

                        <h5 class="pt-3">
                            <a id="forgot-password" asp-page="./ForgotPassword">Reset Password</a>
                        </h5>
                    </div>

                </div>
                <div class="form-group">

                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
