@using NoPoorAfrica.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NoPoorAfrica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" type="text/css" href="~/css/toastr.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navBackground border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse justify-content-center justify-content-between text-white">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1 justify-content-center justify-content-between text-white">
                        <li class="npauLogo mb-2">
                            <a class="navbar-brand npauLogo" asp-area="" asp-page="/Index"><img class="npauLogo" src="~/images/npau.png" alt="npaulogo" /> </a>
                        </li>
                        <li class="nav-item m-3 p-3 mt-4 border border-warning rounded shadow">
                            <a class="nav-link text-white" asp-area="" asp-page="/User/DonationCause/Index">Donate Now</a>
                        </li>
                        <li class="nav-item m-3 p-3 mt-4">
                            <a class="nav-link text-white" asp-area="" asp-page="/Articles/Index">News Articles</a>
                        </li>

                        <li class="nav-item m-3 p-3 mt-4">
                            <a class="nav-link text-white" asp-area="" asp-page="/User/Store/Index">Store</a>
                        </li>
                        @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.ShoppingCart) != null)
                        {
                            <li class="m-3 p-3">
                                <a class="nav-link text-white" asp-area="" asp-page="/User/Cart/Index">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.GetInt32(SD.ShoppingCart); }

                                    <i class="fas fa-shopping-cart"></i>&nbsp; (@count)
                                </a>

                            </li>
                        }
                        else
                        {
                            <li class="m-3 p-3 mt-4">
                                <a class="nav-link text-white" asp-page="/User/Cart/Index">


                                    <i class="fas fa-shopping-cart"></i>&nbsp; (0)
                                </a>

                            </li>
                        }
                        @if (User.IsInRole(SD.AdminRole))
                        {
                            <li class="nav-item dropdown m-3 p-3 mt-4">
                                <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropDown" data-toggle="dropdown">
                                    Admin
                                </a>
								<div class="dropdown-menu">
									<a class="dropdown-item text-black" asp-page="/Admin/Donations/Index">Donations</a>
									<a class="dropdown-item text-black" asp-page="/Admin/DonationCause/Index">Donation Cause</a>
									<a class="dropdown-item text-black" asp-page="/Admin/DonationCauseCategory/Index">Donation Category</a>
									<a class="dropdown-item text-black" asp-page="/Admin/Articles/Index">News Articles</a>
									<a class="dropdown-item text-black" asp-page="/Admin/Category/Index">Category</a>
									<a class="dropdown-item text-black" asp-page="/Admin/Size/Index">Store Sizes</a>
									<a class="dropdown-item text-black" asp-page="/Admin/StoreItems/Index">Store Items</a>
									<a class="dropdown-item text-black" asp-page="/Admin/Purchases/Index">Store Purchases</a>
									<a class="dropdown-item text-black" id="register" asp-area="Identity" asp-page="/Account/Register">Register User</a>
								</div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted navBackground">
        <div class="container">
            &copy; 2020 - NoPoorAfrica - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=at32g4oigyc076ks25kfsfdt2a8fl7qn42awnxmj6o37afs1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
