@page

<h1>Donations List</h1>
<table id="DT_load" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>
				Donor Name
			</th>
			<th>
				Donation Total
			</th>
			<th>
				Donation Date
			</th>
			<th>
				Donor Email
			</th>
			<th>
				Donation Cause
			</th>
		</tr>
	</thead>
</table>
@section Scripts{
	<script src="~/js/donations.js"></script>
}