@page
@model NoPoorAfrica.Pages.Admin.Purchases.IndexModel

<div class="container border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark">Purchase History</h2>
        </div>
    </div>
    <br /><br />

    <table id="DT_load" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Order Number
                </th>
                <th>
                    Customer Name
                </th>
                <th>
                    Store Item
                </th>
                <th>
                    Count
                </th>
                <th>
                    Purchase Date
                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/purchaseHistory.js"></script>
}